/* line 4, ../../app/stylesheets/skins/index.sass */
body div#container header#header h1.header_text {
  font-size: 50px;
}
/* line 6, ../../app/stylesheets/skins/index.sass */
body div#container header#header h1.header_text a {
  color: black;
  text-decoration: none;
}
/* line 10, ../../app/stylesheets/skins/index.sass */
body div#container div#main div.introduction {
  width: 500px;
  font-size: 20px;
}
/* line 13, ../../app/stylesheets/skins/index.sass */
body div#container div#main div.introduction a {
  color: #ed6126;
  font-size: 22px;
  font-weight: bold;
  text-decoration: none;
}

/* line 4, ../../app/stylesheets/skins/portfolio.sass */
body div#container div#main div.testimonial {
  width: 100%;
  font-size: 20px;
  margin-left: 25px;
  padding: 10px;
}
/* line 10, ../../app/stylesheets/skins/portfolio.sass */
body div#container div#main div.testimonial em {
  font-style: italic;
}
/* line 12, ../../app/stylesheets/skins/portfolio.sass */
body div#container div#main div.testimonial span {
  font-size: 25px;
  font-style: italic;
  font-weight: bold;
}
/* line 16, ../../app/stylesheets/skins/portfolio.sass */
body div#container div#main div.author {
  width: 500px;
  text-align: right;
  width: 870px;
}
/* line 20, ../../app/stylesheets/skins/portfolio.sass */
body div#container div#main .projects {
  clear: both;
  padding: 10px;
  width: 100%;
  height: 1240px;
}
/* line 25, ../../app/stylesheets/skins/portfolio.sass */
body div#container div#main .projects .app_container {
  float: left;
  padding: 30px;
  width: 400px;
  height: 350px;
}
/* line 30, ../../app/stylesheets/skins/portfolio.sass */
body div#container div#main .projects .app_container .app_frame {
  width: 390px;
  border: 1px solid #dddddd;
  background: white;
  padding: 5px;
}
/* line 35, ../../app/stylesheets/skins/portfolio.sass */
body div#container div#main .projects .app_container .app_frame .app_image {
  width: 390px;
  height: 299px;
  overflow: hidden;
}
/* line 39, ../../app/stylesheets/skins/portfolio.sass */
body div#container div#main .projects .app_description {
  width: 400px;
  padding: 15px 5px 5px;
  text-align: center;
  width: 400px;
}

/* line 1, ../../app/stylesheets/jquery/jquery.tipsy.sass */
.tipsy {
  padding: 5px;
  font-size: 10px;
  position: absolute;
  z-index: 100000;
}

/* line 7, ../../app/stylesheets/jquery/jquery.tipsy.sass */
.tipsy-inner {
  padding: 5px 8px 4px 8px;
  background-color: black;
  color: white;
  font-size: 11px;
  max-width: 400px;
  text-align: left;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

/* line 18, ../../app/stylesheets/jquery/jquery.tipsy.sass */
.tipsy-arrow {
  position: absolute;
  background: url('images/buttons/tipsy.gif') no-repeat top left;
  width: 9px;
  height: 5px;
}

/* line 24, ../../app/stylesheets/jquery/jquery.tipsy.sass */
.tipsy-n .tipsy-arrow {
  top: 0;
  left: 50%;
  margin-left: -4px;
}

/* line 29, ../../app/stylesheets/jquery/jquery.tipsy.sass */
.tipsy-nw .tipsy-arrow {
  top: 0;
  left: 10px;
}

/* line 33, ../../app/stylesheets/jquery/jquery.tipsy.sass */
.tipsy-ne .tipsy-arrow {
  top: 0;
  right: 10px;
}

/* line 37, ../../app/stylesheets/jquery/jquery.tipsy.sass */
.tipsy-s .tipsy-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -4px;
  background-position: bottom left;
}

/* line 43, ../../app/stylesheets/jquery/jquery.tipsy.sass */
.tipsy-sw .tipsy-arrow {
  bottom: 0;
  left: 10px;
  background-position: bottom left;
}

/* line 48, ../../app/stylesheets/jquery/jquery.tipsy.sass */
.tipsy-se .tipsy-arrow {
  bottom: 0;
  right: 10px;
  background-position: bottom left;
}

/* line 53, ../../app/stylesheets/jquery/jquery.tipsy.sass */
.tipsy-e .tipsy-arrow {
  top: 50%;
  margin-top: -4px;
  right: 0;
  width: 5px;
  height: 9px;
  background-position: top right;
}

/* line 61, ../../app/stylesheets/jquery/jquery.tipsy.sass */
.tipsy-w .tipsy-arrow {
  top: 50%;
  margin-top: -4px;
  left: 0;
  width: 5px;
  height: 9px;
}
