.introduction
  Hi! I'm <strong>Ademar Tutor</strong>, a Ruby on Rails developer based in Cebu, City Philippines. I'm a co-founder and lead developer of <a href="http://bootyard.com">Bootyard</a>.  
  %br
  %br
  %h2 What do I do?
  I code for a living. My <a href="/pages/portfolio">portfolio</a> is made up of ruby web apps, gems and php cms sites from various clients.
  %br
  I <a href="https://github.com/ademar11">contribute</a> as much as I can to the open source community.
  %br
  %br
  %h2 What are the other stuff I do?
  When I'm not in coding mode, you'll usually find me on meetups about startups, reading and watching vids about startups  :)
  %br
  You can also read more about me <a href="http://iamademar.posterous.com">here</a>.
  %br
  %br
  So if you like to work with me or talk to me? <a href="emailto:ademartutor@gmail.com">ademartutor@gmail.com</a>
